/* Estilos para el contenedor principal */
.Forgotcontainer {
    background-color: #ebecf0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrado horizontal */
    justify-content: center; /* Centrado vertical */
    height: 100vh; /* Altura del 100% de la ventana */
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    font-size: 16px;
    /* color: #121144e5; */
  }
  
  /* Estilos para el formulario */
  .Forgotform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px; 
    width: 320px; /*  ancho del formulario  */
    text-align: center; /* Opcional, para centrar el texto dentro de los elementos */
  }
  input {
    border: 2px solid #ccc; /* Añade un borde */
  
    outline: none;
    font-size: 15px;
    border-radius: 16px;
    padding: 15px; 
    background-color: #EBECF0;
    text-shadow: 1px 1px 0 #FFF;
    margin-bottom: 10px; /*  separación vertical entre campos */
    margin-right:16px/2;
    box-shadow:  inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
  
    &:focus {
      box-shadow:  inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
    }
  }
  .error-message {
    color: #cf151f;
    margin-top: 5px;
  }