/* Estilos base para NavbarItems */
.NavbarItems {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #1f2852;
  padding: 20px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.2px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.NavbarItems ul {
  list-style: none;
  padding: 0;
  margin-top: 150px;
}

.NavbarItems li {
  margin-bottom: 10px;
  display: flex;
  align-items: flex-end;
}

.NavbarItems a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
}

.NavbarItems h3 {
  margin-left: 10px;
}

/* Estilo para los enlaces al pasar el ratón */
.NavbarItems a:hover {
  text-decoration: underline;
  color: #22cacf;
}

/* Estilos para pantallas medianas (tabletas) */
@media (max-width: 1024px) {
  .NavbarItems {
   
    font-size: 16px; /* Ajusta el tamaño de fuente en pantallas medianas */
  }

  .NavbarItems ul {
    margin-top: 100px; /* Ajusta el margen superior en pantallas medianas */
  }
}

/* Estilos para pantallas pequeñas (teléfonos móviles) */
@media (max-width: 768px) {
  .NavbarItems {
   
    font-size: 14px; /* Ajusta el tamaño de fuente en pantallas pequeñas */
  }

  .NavbarItems ul {
    margin-top: 50px; /* Ajusta el margen superior en pantallas pequeñas */
  }

  .NavbarItems li {
    align-items: center; /* Centra verticalmente los elementos en ítems de lista en pantallas pequeñas */
  }

}

/* Estilos para celulares (pantallas muy pequeñas) */
@media (max-width: 480px) {
  .NavbarItems {
    
    font-size: 12px; /* Ajusta el tamaño de fuente en pantallas de celulares */
  }

  .NavbarItems ul {
    margin-top: 30px; /* Ajusta el margen superior en pantallas de celulares */
  }

}
