body {
  margin: 0; /* Elimina el margen del cuerpo */
}

/* Estilos para el Navbar (pantallas grandes) */
/* Estilos para el AppBar */
.navbar {
  margin: 0; /* Elimina el margen de la barra de navegación */
  background-color: #083c70;
  display: flex;
 
  
  
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  letter-spacing: -0.2px;
  font-size: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 1000;
}

/* Estilos para el logo */
.navbar-logo {
  height: 100%;
  margin-left: 20px; /* Espacio a la izquierda del logo */
}

/* Estilos para el icono de cierre de sesión */
.logout-icon {
  cursor: pointer;
  margin-right: 20px; /* Espacio a la derecha del icono */
  font-size: 34px;
}


/* Estilo para el logo de la compañía (pantallas grandes) */
.logo-image {
  height: 100%;
  width: 100%;
  margin-left: 0px;
}

/* Estilos para la información del usuario, avatar y icono de cierre de sesión (pantallas grandes) */




.logout-icon {
  margin-left: 60px;
  margin-right: 40px;
  cursor: pointer;
  font-size: 34px;
}

.toolbar {
  display: flex;
  justify-content: space-between; /* Coloca los elementos en los extremos */
  background-color: #195c9f;
  position: fixed;
}

.spacer {
  flex-grow: 1; /* Crea un espacio flexible para empujar el botón al lado derecho */
}