.container {
  max-width: 800px;
  margin: 120px auto 0;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.2px;
  display: flex;
  flex-direction: column; /* Alinear elementos en columna */
  align-items: center; /* Centrar elementos horizontalmente */
}

  .link {
    margin: 10px; /* Ajusta el margen entre los botones según sea necesario */
  }
