/* Estilos base para NavbarItems */
.NavbarItems {
  position:fixed;
  top: 0px;
  left: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    #1f2852 80%,
    #22c4cf,
    #d25037,
    #f0ed46,
    #cf151f
  );
  padding: 20px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.2px;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-right: 8px outset; /* Ancho del borde y estilo */
  border-image: linear-gradient(to bottom, #1f2852 20%, #22c4cf) 1;
   
}

.NavbarItems ul {
  list-style: none;
  padding: 0;
  margin-top: 150px;
}

.NavbarItems li {
  margin-bottom: 10px;
  display: flex;
  align-items: flex-end;
}

.NavbarItems a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
}

.NavbarItems h3 {
  margin-left: 10px;
}

/* Estilo para los enlaces al pasar el ratón */
.NavbarItems a:hover {
  text-decoration: underline;
  color: #22cacf;
}

/* Estilos del botón del menú */
.menu-toggle {
  /* Estilos del botón del menú */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  /* Color de fondo */
  color: #fff; /* Color del texto */
  padding: 10px 15px; /* Padding alrededor del texto/icono */
  border: none; /* Elimina el borde */
  border-radius: 5px; /* Borde redondeado */
  font-size: 19px; /* Tamaño de fuente */
  transition: background-color 0.3s ease; /* Transición suave */
}

.menu-toggle:hover {
  text-decoration: underline;
  color: #22cacf;
}

.closed-toggle {
  position:absolute;
  top: 150px;
  left: 170px;
  font-size: 23px;
}
/*------------------------------------------responsive-------------------------*/
@media (max-width: 768px) {
  .NavbarItems  {
    padding: 10px;
    font-size: 12px;
   }
   .closed-toggle {
    left: 120px;
   }
}

@media (max-width: 380px) {
  .NavbarItems  {
    padding: 7px;
    font-size: 10px;
    
   }
}




