.containerRegister {
  display: flex;
  flex-direction: column;
  margin-top: 160px;
  justify-content: center; /* Centrado vertical */
  height: 100vh; /* Altura del 100% de la ventana */
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.2px;
  font-size: 16px;
  /* color: #121144e5; */
}

.register {
  width: 550px;
  margin: 10px auto;
  padding: 10px;
  border: 7px solid;
  border-color: #22c4cf;
  border-radius: 10px;

  color: #444;

  box-shadow: 0 0 20px 0 #22c4cf;
}
.h2 {
  margin: 0 15px 20px;
  border-bottom: 2px solid;
  padding: 5px 10px 5px 0;
  font-size: 1.1em;
}

.form-div {
  display: flex;

  align-items: center;
  margin-right: 50px;
}

.label-reg {
  display: flex;
  width: 75%;
  margin-left: 50px;
  margin-top: 30px;
}

.form-div-doc {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.label-input-doc {
  display: flex;
  align-items: center;
  margin-bottom: 5px; /* Espacio entre label-input y párrafo */
}

.label-doc {
  width: 75%;
  margin-left: 50px;
  margin-top: 30px;
}

.verification-note {
  margin-top: 2px; /* Espacio entre el párrafo y el label-input */
  margin-left: 50px;
  color: #cf151f;
}

.error-message {
  background-color: #cf151f;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.passwordInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
}

.passwordInput input {
  flex: 1;
  border: none;
}

.passwordInput-eyeIcon {
  cursor: pointer;
  font-size: 50px;
}

/* Mensajes de éxito y error */
.success-message,
.error-message {
  background-color: #fff;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.error-message {
  background-color: #cf151f;
}

.success-message {
  background-color: #22c4cf;
}
