.containerRegister {
  display: flex;
  margin-left: 25%;
  max-width: 750px;
  width: 100%;
 
  padding: 10px;
  align-items: center;
  justify-content: center; /* Centrado vertical */
  height: 100vh; /* Altura del 100% de la ventana */
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.2px;
  font-size: 14px;
  font-weight: bold;
}
.divForm {
  width: 80%;
  margin-top: 30%;
}

.divRegister {
  background-color: #f0f1f5;
  margin: 10px auto;
  padding: 10px;
  border:  rgb(233, 228, 228) 8px outset;
  border-radius: 8px;
  color: #444;
  overflow: hidden;
  
}


.reg-div {
  display:flex;
  
}

.item1 {
  /* Mantener el primer elemento en su lugar */
  margin-right: 120px;
}
.item2 {
  /* Mantener el primer elemento en su lugar */
  margin-right: 90px;
}
.item3 {
  /* Mantener el primer elemento en su lugar */
  margin-right: 140px;
}
.item4 {
  margin-right: 98px;
}
.item5 {
  margin-right: 190px;
}
.item7 {
  margin-right: 105px;
}
.item8 {
  margin-right: 152px;
}
.item9 {
  margin-right: 162px;
}
.label-reg {
  display: flex;
  color: #1f2852;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.label-reg::after {
  content: "*";
  color: red;
  margin-left: 4px; /* Ajusta el espaciado entre el texto y el asterisco */
}
.verification-note {
  margin-top: 2px; /* Espacio entre el párrafo y el label-input */
  margin-left: 20px;
  color: #1f2852;
}

.labelInput {
  
  padding: 7px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.labelInput input {
  flex: 1;
  border: none;
}

.passwordInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
}

.cuenta {
  display: flex;
  margin-bottom: 10px;
}

.passwordInput input {
  flex: 1;
  border: none;
}

.passwordInput-eyeIcon {
  cursor: pointer;
  font-size: 30px;
  color:#1f2852;
}


/* Estilos para el contenedor del mensaje de éxito */
.message-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
}

/* Estilos para el mensaje de éxito y error */
.success {
  padding: 20px;
  color: white;
  background-color: #22c4cf;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}

.error {
  background-color: #cf151f;
  color: white;
  padding: 20px;
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}

.error-message-reg {
  margin-left: 20px;
  width: 70%;
  color: #cf151f;
  padding: 5px;
  font-size: 12px;
  margin-bottom: 1px;
  border-radius: 4px;
}
/* Estilos para el select */
.select {
  
  width: 200px; /* Ancho personalizado */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #ebecf0;
  font-size: 14px;
}

/* Estilos para las opciones */
.option {
  background-color: #ebecf0;; /* Color de fondo */
  color: #333; /* Color del texto */
  padding: 8px;
}

/* Estilo para la opción seleccionada */
.select option:checked {
  background-color: #e0e0e0; /* Color de fondo cuando está seleccionado */
  font-weight: bold; /* Cambiar el peso de la fuente */
}

@media screen and (max-width: 1024px) {
  

  .register {
    max-width: 90%; /* Reducir el ancho máximo para adaptarse a diferentes tamaños de pantalla */
    margin: 10px auto;
    padding: 10px;
    border: 6px outset rgb(233, 228, 228); /* Reducir el ancho del borde para tamaños de pantalla más pequeños */
  }

  .label-reg,
  .label-doc,
  .verification-note {
    margin-left: 0; /* Eliminar el margen izquierdo para tamaños de pantalla más pequeños */
  }
}

/* Media query para pantallas más pequeñas como tablets y celulares */
@media screen and (max-width: 768px) {
  .register {
    border: 4px outset rgb(233, 228, 228); /* Reducir aún más el ancho del borde */
    font-size: 14px; /* Ajustar el tamaño de fuente para tamaños de pantalla más pequeños */
  }

  .label-reg,
  .label-doc,
  .verification-note {
    margin-top: 10px; /* Añadir más espacio entre elementos para mejorar la legibilidad */
  }
}

@media screen and (max-width: 480px) {
  
  .register {
    padding: 6px;
    border-width: 4px;
  }
  .divForm {
    width: 800%;
    margin-top: 170%;
    margin-right: 50px;
  }
  .reg-div {
    flex-direction: column; /* Cambia la dirección del flexbox a columna */
    
    margin-right: 1%; /* Elimina el margen derecho */
    margin-left: 1%; /* Elimina el margen izquierdo */
    font-size: 14px;
  }
  .label-reg {
    text-align: center;
  }

  .labelInput {
    flex-direction: column; /* Cambiar a disposición vertical */
    text-align: center; /* Alinear texto al centro */
  }
  .labelInput input[type="text"] {
    width: 100%; /* Hacer que el input ocupe todo el ancho disponible */
    box-sizing: border-box; /* Incluir el padding y border en el ancho total */
  }
 .verification-note{
  font-size: 10px;
 }
  .passwordInput-eyeIcon {
    font-size: 20px;
  }
}

