/* Estilos generales */
.clients {
  display: flex;
  margin-top: 7%; /* Añade margen en la parte superior para separar de la Navbar superior */
  margin-left: 15%;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.2px;
  font-size: 14px;
}

.table {
  margin-top: 2%;
  margin-left: 3%; /* Añade margen en la parte superior para separar de los elementos anteriores */
  margin-right: 3%;
  overflow-x: auto; /* Agrega una barra de desplazamiento horizontal si la tabla es más ancha que la pantalla */
}

.input {
  display: flex;
  align-items:flex-start;
  margin-left: 3%;
}

/* Estilos para la entrada de búsqueda */
.special-input {
  width: 30%;
  padding: 0.7%;
  margin-right: 1%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilos para los botones de búsqueda y restauración */
.button-clients {
  
  margin-top: 5px;
  margin-right: 5px;
  color: #1f2852;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

.button-clients:hover {
  color: #22c4cf;
}

/* Estilos para la tabla */
table {
  width: 100%;
}

th {
  background-color: #1f2852;
  color: white;
  border:  rgb(233, 228, 228) 6px outset;
  cursor: pointer;
  padding: 0.5%;
}

th:hover {
  background-color: #22c4cf;
}

th:active {
  background-color: #ebecf0;
}

th:focus {
  outline: none;
}

th:focus:not(:focus-visible) {
  outline: none;
}

tr {
  border: 1px solid #ccc;
}

td {
  border:  rgb(233, 228, 228) 3px outset;
  padding: 0.3%;
}

/* Estilos para la celda de ordenamiento activa */
th[aria-sort]::before {
  content: attr(aria-sort);
  padding-left: 0.5%
}

/* Estilos para el resaltado de búsqueda */
tr.highlight {
  background-color: #f4eb4d;
}

/* Estilos para el efecto de botón en hover */
.client-item:hover {
  background-color: #22c4cf;
  color: white;
  transform: scale(1.03);
}

.client-item:hover td {
  color: white;
}

/* Estilos para el efecto de botón en click */
.client-item:active {
  background-color: #22c4cf;
}

.client-item:active td {
  color: white;
}

/* Estilo para la clase "asc" */
.asc {
  background-color: #f0ed46; /* Cambia el color de fondo para ascendente */
  color: #22c4cf;
}

.asc:hover {
  background-color: #f0ed46;
}

/* Estilo para la clase "desc" */
.desc {
  background-color: #d25037; /* Cambia el color de fondo para descendente */
}

.desc:hover {
  background-color: #d25037;
}

.pagination-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra los elementos horizontalmente */
  gap: 5px; /* Espacio entre los botones de paginación */
  margin-top: 15px;
  margin-bottom: 10px;
}

.pagination-container button {
  border:  rgb(233, 228, 228) 4px outset;
  margin: 0 2px; /* Espacio entre botones */
  
}

.paginate {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 10px 18px;
  height: 2px;
  margin-bottom: 2px;
  border: none;
  background-color: #1f2852;
  color: white;
  cursor: pointer;
}
.paginate:hover {
  background-color: #22c4cf;
}

.paginate.active {
  background-color: #d25037; /* Cambia el color cuando esté activo */
}

.page-number {
  margin-left: 0.5%; /* Espacio entre el ícono y el número */
}

.asc-icon {
  font-size: 20px;
  padding-left: 2.5%;
  margin-top: 0.2%;
}

.desc-icon {
  font-size: 20px;
  padding-left: 2.5%;
  margin-top: 0.2%;
}

.error-message-clients {
  background-color: #cf151f;
  margin-left: 3%;
  width: 40%;
  color: #fff;
  padding: 2px;
  margin-bottom: 1px;
  border-radius: 4px;
}

/*------------------------------------------------responsive-------------------------------*/
@media (max-width: 1300px) {
 .clients {
  margin-top: 20%;
 }
}
/* Estilos para pantallas medianas (tabletas) */
@media (max-width: 1024px) {
  .clients {
   font-size: 12px;
  }
  .paginate {
    font-size: 12px;
  }
 }

/* Estilos para pantallas pequeñas (teléfonos móviles) */
@media (max-width: 768px) {
  .clients {
    font-size: 10px;
   }
   .input {
    flex-direction: column;
   }
   .special-input {
    width: 50%;
    font-size: 10px;
   }
   .button-clients {
    font-size: 10px;
   }
   .paginate {
    font-size: 10px;
   }
}

@media (max-width: 600px) {

  .pagination-container {
    flex-direction: column; /* Cambia la dirección a column para pantallas más pequeñas */
    align-items: center; /* Centra los elementos verticalmente */
  }
}

/* Estilos para celulares (pantallas muy pequeñas) */
@media (max-width: 480px) {
  .clients {
    margin-left: 18%;
    font-size: 8px;
   }
   .special-input {
    width: 50%;
   }
   .paginate {
    font-size: 8px;
   }
}

@media (max-width: 380px) {
  .clients {
    margin-top: 20%;
    font-size: 6.5px;
    font-weight: bold;
   }
   .paginate {
    font-size: 6.5px;
   }

}
