.form-container {
    max-width: 800px;
    margin: 120px auto 0;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    font-size: 16px;
    background-color: #f7f7f7;
    border: 1px solid #a7a4a4;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  
  .form-title {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .label-reg {
    display: block;
  }
  
  .error-message {
    color: red;
    margin-top: 5px;
  }
  
  .edit-fields {
    margin-top: 20px;
  }
  
  .message {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .success {
    background-color: #dff0d8;
    color: #3c763d;
  }
  
  .error {
    background-color: #f2dede;
    color: #a94442;
  }
  .select{
    padding:8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ebecf0;
    font-size: 16px;
    width: 100%;
    box-sizing:border-box;
    font-family: sans-serif;
  }
  
  /* En tu archivo styles.css o donde tengas tus estilos */

.user-table {
  margin-top: 20px;
}

.user-table h2 {
  margin-bottom: 10px;
}

.user-table table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.user-table th, .user-table td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: center;
}

.user-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.user-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.user-table tr:hover {
  background-color: #ddd;
}
.user-table h2 {
  margin-bottom: 10px;
  text-align: center;
  font-size: 24px;
  color: #333; /* Cambiar color según tu preferencia */
}
